<%= form_for @newpost do |f| %>
  <div class="field text-center">
    <%= f.text_field :content, autofocus: true %>
  </div>

  <div class="actions text-center">
    <%= f.submit "Add Post" %>
  </div>
<% end %>
