<% if user_signed_in? %>
  <script>
    document.location = "/home";
  </script>
<% else %>
  <style>
    body {
      background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)) ,url(bg.jpg) no-repeat center center fixed;
      background-size: cover;
    }

    .container-index {
      margin-left: 15%;
      margin-right: 15%;
      color: white;
    }

    h1 {
      font-weight: bold;
    }

    .text {
      font-weight: 300;
      font-size: 150%;
    }

    .footer-links {
      text-align: center;
      margin-top: 30%;
      font-size: 75%;
    }

    .log-in{
      width: 300px;
      height: 150px;
      margin-top: 7.5%;
    }

    .sign-up {
      width: 300px;
      height: 250px;
    }
  </style>
  <div class="container-index row">
    <div class="col-sm-6">
      <h1>Welcome to Pakutter</h1>
      <p class="text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Respondent extrema primis, media utrisque, omnia omnibus. Respondent extrema primis, media utrisque, omnia omnibus. Apparet statim, quae sint officia, quae actiones. Potius inflammat, ut coercendi magis quam dedocendi esse videantur. Nec vero alia sunt quaerenda contra Carneadeam illam sententiam. Quam ob rem tandem, inquit, non satisfacit? Duo Reges: constructio interrete.
      </p>
    </div>
    <div class="col-sm-6">
      <div class="log-in panel pull-right">
        log-in
      </div>
      <div class="sign-up panel pull-right">
        sign-up
      </div>
    </div>
    <div class="col-sm-12">
      <p class="footer-links">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </p>
    </div>

  </div>
<% end %>
